<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>105955944316-86k8lndtgc71uesoo1i5pik1jl0m4f81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105955944316-86k8lndtgc71uesoo1i5pik1jl0m4f81</string>
	<key>API_KEY</key>
	<string>AIzaSyB0NoCh_ehSJuqS5fa83vITmFo-VBvonF8</string>
	<key>GCM_SENDER_ID</key>
	<string>105955944316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.favoredfruit.Share</string>
	<key>PROJECT_ID</key>
	<string>share-e8e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>share-e8e8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:105955944316:ios:2a04a8eb1e3faad3</string>
	<key>DATABASE_URL</key>
	<string>https://share-e8e8b.firebaseio.com</string>
</dict>
</plist>